* {text-decoration: none;
margin: 0px;
padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: aliceblue;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
 font-weight: 800;
 float: left;
 font: courier;
 color: #45474B;
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
background: #FFFFFF;
z-index: 1;
border-bottom: 1px solid #45474B   ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;

}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;

}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sanns ms';
    color: #45474B;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: #45474B;
    width: 100%;
    line-height: 50px;

}

p {
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #45474B;
    width: 100%;
    line-height: 25px;
    margin-top: 12px;
    margin-right: 30px;
}

a.tbl-pink {
        background: palevioletred;
        border-radius: 15px;
        margin-top: 50px;
        padding: 10px 15px 10px 15px;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: bold; }

a.tbl-pink:hover {
        background: #3f72af;
        text-decoration: none;
}

.tengah {
    text-align: center;
    width: 100%;

}

.toko-list {
    width: 100%;
    position: relative;
    display: flex
}

.Shopee {
    width: 20px;
    margin: 0 auto;

}

.Shopee img {
    width: 80px;
    border-radius: 50%;

}

.Shopee p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}
